<!DOCTYPE html>
<html>
  <head>
    <title>TestMessenger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <%= link_to 'Messenger', root_path, class: 'mdl-layout-title', style: "text-decoration: none; color: white;" %>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
          <% if user_signed_in? %>
            <b> <%= current_user.username %> ID : <%= current_user.id %></b>
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
              <li class="mdl-menu__item"><%= link_to(' Сменить пароль', edit_user_registration_path) %></li>
              <li class="mdl-menu__item"><%= link_to('Выход ', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          <% else %>
                  <%= link_to('Войти', new_user_session_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  ) %>
          <% end %>

          </nav>
        </div>
      </header>
      <% if user_signed_in? %>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title"><%= current_user.username %></span>

          <nav class="mdl-navigation">
            <%= link_to 'Сообщения', conversations_path , class: "mdl-navigation__link" %>


          </nav>
        </div>
      <% end %>
      <main class="mdl-layout__content">
        <div class="page-content">
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
         <%= yield %>
        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">OnlyReFLeX</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="https://www.GitHub.com/OnlyReFLeX">GitHub</a></li>
            <li><a href="#">Company 2017</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
